<div class="container text-center mt-4">
  <button class="btn color-boton btn-sm rounded-pill px-4 py-2 text-white" routerLink="/dashboard/estudiante_new">
    NUEVO ESTUDIANTE
  </button>
</div>
<div class="container mt-4">
  <div class="card bg-light">
    <div class="card-header text-center">
      <h5>Filtro</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-1 col-md-2">
          <label for="buscador" class="form-label">Nombre: </label>
        </div>
        <div class="col-lg-11 col-md-10">
          <input id="buscador" type="text" class="form-control" [(ngModel)]="nombre"
            placeholder="Buscar por nombre del estudiante" />
        </div>
      </div>
    </div>
  </div>
</div>
@if(!listaVacia){
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 19%;">Nombre</th>
                  <th style="width: 19%;">Cédula</th>
                  <th style="width: 19%;">Email</th>
                  <th style="width: 19%;">Número</th>
                  <th style="width: 19%;">Acciones</th>
                </tr>
              </thead>
              <tbody>
                @for(estudiante of estudiante | buscadorEstudiante : nombre | paginate: { itemsPerPage: 10,
                currentPage: page }; track $index){
                <tr>
                  <td style="width: 19%;">{{ estudiante.nombre_estudiante }}</td>
                  <td style="width: 19%;">{{ estudiante.cedula_estudiante }}</td>
                  <td style="width: 19%;">{{ estudiante.email_estudiante }}</td>
                  <td style="width: 19%;">{{ estudiante.numero_estudiante }}</td>
                  <td style="width: 19%;">
                    <div class="btn-group d-flex" role="group">
                      <button class="btn btn-primary"
                        routerLink="/dashboard/estudiante_edit/{{estudiante.id_estudiante}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                          class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                          <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                      </button>
                      <button class="btn btn-danger btn-sm"
                        (click)="estudiante.id_estudiante  !== undefined ? borrar(estudiante.id_estudiante) : null">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                          class="bi bi-trash-fill" viewBox="0 0 16 16">
                          <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                      </button>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior"
              nextLabel="Siguiente">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}@else {
<div class="container mt-4">
  <div class="row">
    <div class="container text-center mt-5">
      <button class="btn btn-lg custom-green-btn rounded-pill mb-4" routerLink="/dashboard/estudiante_new">
        NUEVO ESTUDIANTE
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="p-3 mb-2">
        <h2>{{listaVacia}}</h2>
      </div>
    </div>
  </div>
</div>
}
