<form class="mt-5 mb-5 rounded-5 border border-3 border-info mx-auto p-3 col-lg-9 col-11" (ngSubmit)="onCreate()">
  <div class="mt-3 mb-4 rounded-pill bg-info text-white w-100 text-center p-2">
    <h5>CREAR INFORME DIARIO DEL ESTUDIANTE</h5>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 mb-3">
      <label for="estudiante" class="form-label">Estudiante</label>
      <input type="text" class="form-control rounded border border-3 border-info" id="estudiante" name="estudiante"
        [(ngModel)]="estudiante">
    </div>
    <div class="col-lg-6 col-md-6 mb-3">
      <label for="fecha" class="form-label">Fecha</label>
      <input type="date" class="form-control rounded border border-3 border-info" id="fecha" name="fecha"
        [(ngModel)]="fecha">
    </div>

    <div class="col-lg-6 col-md-6 mb-3">
      <label for="usuario">Docente</label>
      <select id="usuario" [(ngModel)]="instructor" class="form-control rounded border border-3 border-info"
        name="usuario">
        <option value="" disabled selected>Selecione un docente</option>
        @for (usuario of usuariosList; track $index) {
        <option [value]="usuario.id_usuario">{{ usuario.nombres_usuario }}</option>
        }
      </select>
        </div>

    <div class="col-lg-6 col-md-6 mb-3">
      <label for="hora" class="form-label">Hora</label>
      <input type="time" class="form-control rounded border border-3 border-info" id="hora" name="hora"
        [(ngModel)]="hora">
    </div>
    <div class="col-lg-6 col-md-6 mb-3">
      <label for="codigo" class="form-label">Código</label>
      <input type="text" class="form-control rounded border border-3 border-info" id="codigo" name="codigo"
        [(ngModel)]="codigo">
    </div>
    <div class="col-lg-6 col-md-6 mb-3">
      <label for="materia" class="form-label">Materia</label>
      <input type="text" class="form-control rounded border border-3 border-info" id="materia" name="materia"
        [(ngModel)]="materia">
    </div>
  </div>

  <div class="text-center mt-3">
    <label for="actividadesDiarias" class="form-label fs-4">Actividades Diarias Desarrolladas</label>
  </div>
  <div class="mb-3">
    <label for="temaGeneral" class="form-label">Tema General:</label>
    <textarea class="form-control rounded border border-3 border-info" id="temaGeneral" name="temaGeneral" rows="3"
      [(ngModel)]="tema_general" required></textarea>
  </div>
  <div class="mb-3">
    <label for="temaSecundario" class="form-label">Tema Secundario</label>
    <textarea class="form-control rounded border border-3 border-info" id="temaSecundario" name="temaSecundario"
      rows="3" [(ngModel)]="tema_secundario" required></textarea>
  </div>

  <div class="mb-3">
    <label for="actitudEstudiante" class="form-label">Actitud del Estudiante</label>
    <select class="form-select rounded border border-3 border-info" aria-label="Default select example"
      name="actitud_estudiante" [(ngModel)]="actitud_estudiante">
      <option selected disabled>Elegir</option>
      <option value="Insuficiente">Insuficiente</option>
      <option value="Regular">Regular</option>
      <option value="Buena">Buena</option>
      <option value="Bastante Buena">Bastante Buena</option>
      <option value="Muy Buena">Muy Buena</option>
      <option value="Excelente">Excelente</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="tareasEnviadas" class="form-label">Tareas Enviadas</label>
    <input type="text" class="form-control rounded border border-3 border-info" id="tareasEnviadas"
      name="tareasEnviadas" [(ngModel)]="tareas_enviadas">
  </div>
  <div class="mb-3 text-center">
    <label for="observacionesGenerales" class="form-label fs-4">Observaciones Generales</label>
  </div>
  <div class="mb-3">
    <label for="bases" class="form-label">Bases</label>
    <textarea class="form-control rounded border border-3 border-info" id="bases" name="bases" rows="2"
      [(ngModel)]="bases"></textarea>
  </div>
  <div class="mb-3">
    <label for="tareas" class="form-label">Tareas</label>
    <textarea class="form-control rounded border border-3 border-info" id="tareas" name="tareas" rows="2"
      [(ngModel)]="tareas"></textarea>
  </div>
  <div class="mb-3">
    <label for="evolucionDiaria" class="form-label">Evolución Diaria</label>
    <textarea class="form-control rounded border border-3 border-info" id="evolucionDiaria" name="evolucionDiaria"
      rows="2" [(ngModel)]="evolucion"></textarea>
  </div>
  @if (isAdmin) {
  <!-- Solo el admin puede ver esto -->
  <div class="form-group table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Hora y Fecha de Llamada</th>
          <th scope="col">Representante</th>
          <th scope="col">Observaciones</th>
          <th scope="col">Realizado Por</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="datetime-local" class="form-control rounded border border-3 border-info"
              name="horaFechaLlamada" [(ngModel)]="hora_fecha_llamada"></td>
          <td><input type="text" class="form-control rounded border border-3 border-info" name="representante"
              [(ngModel)]="representante"></td>
          <td><textarea class="form-control rounded border border-3 border-info" name="observacionesLlamada" rows="2"
              [(ngModel)]="observaciones"></textarea></td>
          <td><input type="text" class="form-control rounded border border-3 border-info" name="realizadoPor"
              [(ngModel)]="realizado_por"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-4 text-center mt-4">
      <hr class="mt-4 border-3">
      <label for="firmaEncargado1" class="form-label">Ing. David Robayo</label>
      <br>
      <label class="form-label">Director General</label>
    </div>
    <div class="col-md-4 col-lg-4 text-center mt-4">
      <hr class="mt-4 border-3">
      <label for="firmaEncargado2" class="form-label">Tlga. Katherine Rosero</label>
      <br>
      <label class="form-label">Coordinador General</label>
    </div>
    <div class="col-md-4 col-lg-4 text-center mt-4">
      <hr class="mt-4 border-3">
      <label for="firmaEstudiante" class="form-label">Instructor</label>
    </div>
  </div>
  }

  <div class="text-center mt-3">
    <button type="submit" class="color_boton border-0 mt-3 rounded-pill mb-1 text-white w-100 p-2 h5">Guardar
      Informe</button>
  </div>
  <button class="btn btn-danger border-0 mt-4 rounded-pill mb-1 text-white w-100 p-2" (click)="volver()">
    <h5>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
        class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
      </svg>
      Volver
    </h5>
  </button>
</form>
